h1 {
  font-size: 46px;
  font-family: 'Audiowide', Verdana, sans-serif;
  margin: 20px 0;
}
main{
  width: 1100px;
  margin: 20px auto;

}
p{ font-family: 'Text Me One', sans-serif;
  line-height: 20px;
  font-size: 18px;
  width: 500px;
  margin: 10px;
}
nav{
  margin: 20px;
}
