@charset "UTF-8";
/* CSS Document */

       body {
         font-family: 'Domine', serif;
       }
       article {
         position:relative;
         width: 750px;
         height: 500px;
         margin: 20px auto;
         padding: 16px 10px;
         background-color: #CC0;
         border: 4px dotted #60342f;
         border-radius: 12px;
       }
       #first, #second, #third, #fourth, footer {
         border-radius: 12px;
         border: 2px dotted #60342f;
         margin: 4px;
       }
       section#first {
         position: absolute;
         background-color: #e8744d;
         float: left;
         width: 230px;
         padding: 15px;
         margin-left: 8px;
       }
       section#second {
         background-color: #e0c757;
         float: right;
         width: 422px;
         padding: 15px;
         margin-right: 8px;
         margin-bottom: 7px;
       }

       section#third {
         background-color: #f6df4f;
         float: right;
         width: 422px;
         margin-top: 20px;
         padding: 18px 15px;
       }
       footer {
         background-color: #e4d095;
         float: left;
         width: 700px;
         padding: 15px;
         margin: 50px 8px 10px 8px;
       }
       h1 {
         font-family: 'Lobster Two', cursive;
         color: #60342f;
         font-size: 2.5em;
         line-height: 1.3em;
         margin: 0;
         padding: 4px
       }
       h2 {
         color: #60342f;
         font-size: 26px;
         line-height: 1.3em;
         margin: 0;
         padding: 4px;
       }
       h4 {
         font-family: 'Bonbon', sans-serif;
         color: #60342f;
         font-size: 18px;
         line-height: 1.3em;
         margin: 0;
         padding: 4px;
         text-align: center;
       }
       p {
            font-size: 14px;
            line-height: 1.4em;
            color: #630;
       }
       #third p {
            font-size: 1.2em;
            text-align: center;
            padding: 5px 0;
            line-height: 1.3em;
       }
       .clear {
            clear: both;
       }
